@import "../../styles/variables.scss";

// $screen-height: calc(100vh - $header-height);
$screen-height: calc(100vh - env(safe-area-inset-bottom));

.FullScreenCentered {
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: $screen-height;

  .Heading {
    text-align: center;
  }

  .HeadingCenter {
    margin-bottom: max(2rem, env(safe-area-inset-bottom));
    word-spacing: 9999999px;
  }
}

.HeadingText {
  margin: 3rem 0;
}

.SubHeadingText {
  margin-bottom: 5rem;
}

.BackgroundImageWrapper {
  position: absolute;
  height: $screen-height;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba($color-off-white, 1)
    );
  }
}

.BackgroundImage {
  max-height: $screen-height;
  z-index: -1;
}

.CenterText {
  text-align: center;
}

.Spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.GridItem {
  margin-bottom: 6rem;
}

.GridItemTitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
