@import "../styles/variables.scss";

.BasePage {
  padding: 1rem 1rem;
  @include respond-to("medium") {
    padding: 1rem 2rem;
  }

  @include respond-to("large") {
    padding: 1rem 3rem;
  }
}

.BasePageTitleWrapper {
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
