@import "../../styles/variables.scss";

.LayoutWrapper {
  // margin-top: $header-height;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 6rem;
  p {
    opacity: 0.4;
    font-size: 0.7rem;
  }
}
