@import "../../../styles/variables.scss";

.Section {
  z-index: -2;
  width: 100%;
  position: relative;
  background-color: transparent;

  &.Background_pastel-green {
    background-color: lighten($pastel-green, 12);
  }
  &.Background_pastel-pink {
    background-color: lighten($pastel-pink, 18);
  }
  &.Background_pastel-orange {
    background-color: lighten($pastel-orange, 12);
  }
  &.Background_off-white {
    background-color: $color-off-white;
  }

  &.IncludePadding {
    padding: 4rem 2rem;
  }
}
