@import "../../styles/variables.scss";

.Section {
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;

  &.Background_pastel-green {
    background-color: $pastel-green;
  }
  &.Background_pastel-pink {
    background-color: $pastel-pink;
  }
  &.Background_pastel-orange {
    background-color: $pastel-orange;
  }
  &.Background_off-white {
    background-color: $color-off-white;
  }
}
