@import "./variables.scss";

html,
body {
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $color-off-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Without this there's a small gap on the right side of the screen
.row {
  margin-left: 0;
  margin-right: 0;
}
