@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import "./variables.scss";

html,
body {
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $color-off-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Without this there's a small gap on the right side of the screen
.row {
  margin-left: 0;
  margin-right: 0;
}
