@import "../styles/variables.scss";

$h0Size: 9rem;
$h1Size: 4rem;
$h2Size: 2.2rem;
$h3Size: 1.5rem;

$h4Size: 2.8rem;
$h5Size: 1.4rem;
$h6Size: 1.2rem;

@mixin resizeFont($base) {
  font-size: calc($base * 0.65);

  @include respond-to("small") {
    font-size: calc($base * 0.75);
  }

  @include respond-to("medium") {
    font-size: calc($base * 0.9);
  }

  @include respond-to("large") {
    font-size: $base;
  }
}

h1 {
  @include resizeFont($h1Size);
  &.extra {
    @include resizeFont($h0Size);
  }
}
h2 {
  @include resizeFont($h2Size);
}
h3 {
  @include resizeFont($h3Size);
}
h4 {
  @include resizeFont($h4Size);
}
h5 {
  @include resizeFont($h5Size);
}
h6 {
  font-size: $h6Size;
}

p.small {
  font-size: 0.8rem;
}
