@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

@font-face {
  font-family: "Anaktoria";
  src: url("../public/fonts/Anaktoria.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anaktoria";
  src: url("../public/fonts/Anaktoria.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Anaktoria";
  src: url("../public/fonts/Anaktoria.woff");
  font-weight: normal;
  font-style: italic;
}

$h0Size: 9rem;
$h1Size: 4rem;
$h2Size: 2.2rem;
$h3Size: 1.5rem;

$h4Size: 2.8rem;
$h5Size: 1.4rem;
$h6Size: 1.2rem;

@mixin resizeFont($base) {
  font-size: calc($base * 0.65);

  @include respond-to("small") {
    font-size: calc($base * 0.75);
  }

  @include respond-to("medium") {
    font-size: calc($base * 0.9);
  }

  @include respond-to("large") {
    font-size: $base;
  }
}

/* Typography */
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

b,
strong {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: "Anaktoria", serif;
  font-weight: 500;
}

h1 {
  @include resizeFont($h1Size);
  &.extra {
    @include resizeFont($h0Size);
  }
}

h2 {
  @include resizeFont($h2Size);
}

h3 {
  @include resizeFont($h3Size);
}

h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h4 {
  @include resizeFont($h4Size);
}
h5 {
  @include resizeFont($h5Size);
}
h6 {
  font-size: $h6Size;
}

p.small {
  font-size: 0.8rem;
}
