$header-height: 5rem;
$screen-height: calc(100vh - env(safe-area-inset-bottom));

$color-off-white: lighten(#f7f9f7, 0.1);

$pastel-pink: #cb8aa9;
$pastel-green: #a6cbbe;
$pastel-orange: #d48d65;
$forest-green: #19472c;
$neutral-green: #a2bdad;

$colors: (
  color-off-white: $color-off-white,
  pastel-pink: $pastel-pink,
  pastel-green: $pastel-green,
  pastel-orange: $pastel-orange,
  forest-green: $forest-green,
  neutral-green: $neutral-green,
);

$breakpoints: (
  "mini": 320px,
  "small": 375px,
  "medium": 768px,
  "large": 1024px,
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
